<div class="span6 offset3">
    <ul class="unstyled" id="tweets">
        <%= render "tweets" %>
    </ul>
    <%= link_to 'Fetch a new tweet!', new_tweet_path, :class => 'btn btn-large' %>
    <%= will_paginate @tweets %>
</div>