<div class="span6 offset3">
    <ul class="unstyled">
    <% @tweets.each do |tweet| %>
      <li>
        <span id="user"><%= tweet.user %></span> <span id="content"><%= tweet.content %></span> (<span id="tweet-id"><%= tweet.tweet_id %></span>)</li>
    <% end %>
    </ul>

    <%= link_to 'Fetch a new tweet!', new_tweet_path %>
</div>