<div class="span6 offset3">
    <section class="page-header">
        <h2>New tweet</h2>
        <% if @error %>
            <small class="label label-important"><%= @error %></small>
        <% end %>
    </section>

    <%= render 'form' %>

    <%= link_to 'Back', tweets_path %>
</div>