@import 'bootstrap';
@import 'bootstrap-responsive';

// Variables
$blue: #2BBFBD;
$red: #F22E2E;
$yellow: #F2B33D;
$linkColor: $green;

// Styles

body {
    background-image: url(stressed_linen.png);
    color: $white;
    font-family: "Open Sans", san-serif;
    font-size: 1.5rem;
    margin-top: 20px;

    a {
        color: $blue;
        &:hover {
            color: darken($blue, 20%);
        }
    }
}

li {
    line-height: 2.3rem;
    margin-bottom: 2rem;
    border-bottom: 1.5px solid $grayDark;
    padding-bottom: 3rem;
}

footer {
    color: $gray;
    margin-top: 25px*2;
    font-size: 16px;

    small {
        margin-left: 17px;
    }
}

.jumbotron {
    margin: 60px 0;
    text-align: center;

    #header {
        font-family: "Lemon", cursive;
        font-size: 5.5rem;
        color: $blue;
        line-height: 5rem;
        &:hover {
            color: $red;
            text-decoration: none;
        }
    }

    #lede {
        margin-top: 25px;
        font-size: 1.4rem;
    }
}

#user {
    color: $yellow;
    a {
        color: $yellow;
    }
}

#content {
    font-style: italic;
}

#tweet-id {
    color: $red;
    font-size: 1.3rem;
    text-decoration: underline;
}